:root {
  --tama-width: 400px;
  --tama-background: bisque;
  --tama-screen-background: rgb(200, 240, 200);
  --tama-screen-color: #000;
  --tama-button-gradient-from: #f7f7f7;
  --tama-button-gradient-to: #e7e7e7;
  --tama-button-border: solid 1px transparent;
  --tama-button-shadow-color: #ddd;
  --tama-button-inset-background: #fff;
  --tama-button-inset-size: -15px;
  --tama-button-hover-background: #f5f5f5;
  --tama-button-spacing: 8%;
}